<app-header titulo="Registro"></app-header>
<link href="https://fonts.googleapis.com/css2?family=SeoulHangang+CB:wght@400;500;700&display=swap" rel="stylesheet">

<ion-content class="ion-register" [fullscreen]="true">

  <ion-card-title class="welcome-text">Bienvenido</ion-card-title>
  
  <ion-card-subtitle class="subtext">Cree su cuenta</ion-card-subtitle>

  <ion-img class="img-culture" src="assets/img/science.png" alt="Cultura Ecuador"></ion-img>

    <form class="form" [formGroup]="validar_form" (ngSubmit)="onSubmit()">

      <!--****************NOMBRE*************************-->
      <ion-input class="nombre" [clearInput]="true" type="text" formControlName="nombre" label="Nombre" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      
      <ng-container *ngFor="let validation of validation_messages.nombre">
        <ion-item-divider class="error-message" *ngIf="validar_form.get('nombre').hasError(validation.type) && (validar_form.get('nombre').dirty || validar_form.get('nombre').touched)">
          <ion-text color="danger" class="ion-text-wrap">
            {{ validation.message }}
          </ion-text>
        </ion-item-divider>
      </ng-container>

      <!--*******************LAST NAME*********************-->
      <ion-input [clearInput]="true" type="tex" formControlName="apellido" label="Apellido" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>

      <ng-container *ngFor="let validation of validation_messages.apellido">
        <ion-item-divider class="error-message" *ngIf="validar_form.get('apellido').hasError(validation.type) && (validar_form.get('apellido').dirty || validar_form.get('apellido').touched)">
          <ion-text color="danger" class="ion-text-wrap">
            {{ validation.message }}
          </ion-text>
        </ion-item-divider>
      </ng-container>

      <!--************************EMAIL*****************************-->
      <ion-input [clearInput]="true" type="email" formControlName="email" label="Email" label-placement="floating" fill="outline"></ion-input>

      <ng-container *ngFor="let validation of validation_messages.email">
        <ion-item-divider class="error-message" *ngIf="validar_form.get('email').hasError(validation.type) && (validar_form.get('email').dirty || validar_form.get('email').touched)">
          <ion-text color="danger" class="ion-text-wrap">
            {{ validation.message }}
          </ion-text>
        </ion-item-divider>
      </ng-container>

      <!--**************************PASSWORD*****************************-->

      <ion-input [clearInput]="true" type="password" formControlName="password" label="Password" label-placement="floating" fill="outline" ></ion-input>

      <ng-container *ngFor="let validation of validation_messages.password">
        <ion-item-divider class="error-message" *ngIf="validar_form.get('password').hasError(validation.type) && (validar_form.get('password').dirty || validar_form.get('password').touched)">
          <ion-text color="danger" class="ion-text-wrap">
            {{ validation.message }}
          </ion-text>
        </ion-item-divider>
      </ng-container>

      <ion-text class="terminos-Condiciones">Al registrarse, acepta nuestros "Términos de uso y política de privacidad".</ion-text>

      <ion-button class="register-button" type="submit" [disabled]="!validar_form.valid" color="primary" fill="outline" expand="block" >Login</ion-button>

      <ion-text class="register-text">
        ¿Ya tienes una cuenta? <ion-text routerLink="/login" class="login-link">Ingresar</ion-text>
      </ion-text>

    </form>
</ion-content>