.ion-register{
    --ion-background-color:linear-gradient(180.31deg, #7B72DF -11.57%, rgba(53, 59, 118, 0.967456) 51.75%, rgba(32, 48, 130, 0.729167) 111.46%, rgba(51, 106, 188, 0) 140.83%);
}

.welcome-text {
    margin-top: 25px;
    font-size: 9vw;
    display: block;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(243, 236, 236); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'SeoulHangang CB';
}

.subtext {
    padding: 4.5vw;
    font-size: 4vw; 
    display: block;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'SeoulHangang CB';
    align-items: center;
    margin: auto; 
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.img-culture {
    width: 45vw; 
    height: 45vw; 
    object-fit: cover; 
    border-radius: 50%; 
    margin: 20px auto; 
}

.form{
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

.error-message {
    font-size: 12px; 
    --ion-background-color: transparent; 
    font-family: 'SeoulHangang CB';
}

.terminos-Condiciones {
    text-align: center; 
    padding: 7px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'SeoulHangang CB';
    align-items: center;
    color: #96a3b3; 
}

.register-button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    font-family: 'SeoulHangang CB';
}

.register-text{
    font-size: 14px;
    color: #a5afbb; 
}

.login-link{
    font-size: 14px;
    color: #007bff; 
    cursor: pointer;
}

ion-input {
    margin-top: 10px;
}

@media (max-width: 320px) {
    .welcome-text {
        font-size: 8vw;
        margin-top: 20px;
    }

    .subtext {
        font-size: 3.5vw;
        padding: 4vw;
    }

    .img-culture {
        width: 40vw;
        height: 40vw;
        margin: 15px auto;
    }

    .form {
        max-width: 300px;
        margin: 0 auto;
    }

    ion-input {
        margin-top: 5px;
    }

    .error-message {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .terminos-Condiciones {
        font-size: 12px;
        padding: 5px;
    }

    .register-button {
        margin: 15px auto;
        padding: 8px 15px;
    }

    .register-text {
        font-size: 12px;
    }

    .login-link {
        font-size: 12px;
    }
}
