<link href="https://fonts.googleapis.com/css2?family=SeoulHangang+CB:wght@400;500;700&display=swap" rel="stylesheet">

<ion-content class="ion-inicio" [fullscreen]="true">

  <ion-card class="inicio-container">
    
      <ion-img class="img-logo" src="assets/img/logo.png" alt="Logo de Revista Ecuador"></ion-img>
    
      <ion-card-title class="name-app">{{ tituloApp }}</ion-card-title>
      <ion-card-subtitle class="subtext">{{ subtituloApp }}</ion-card-subtitle>
      <ion-img class="img-culture" src="assets/img/culture2.png" alt="Cultura Ecuador"></ion-img>
    
    <div class="content-button">
      <ion-button class="login-button" color="primary" fill="outline" expand="block" routerLink="/login">Login</ion-button>
      <ion-button routerLink="/registro" class="register-button" color="secondary" fill="outline" expand="block">Registro</ion-button>
    </div>

  </ion-card>
</ion-content>
